PORT=11083
CORE_GRAPHQL_URL=http://127.0.0.1:11082/graphql
PRODUCTS_DATABASE_URL=postgresql://holita_products:holita_products_local@127.0.0.1:11084/holita_products
PRODUCTS_TEST_DATABASE_URL=postgresql://holita_products_test:holita_products_test_local@127.0.0.1:11084/holita_products_test
