PORT=11080
CORE_GRAPHQL_URL=http://127.0.0.1:11082/graphql
PRODUCTS_GRAPHQL_URL=http://127.0.0.1:11083/graphql
ADMIN_ORIGIN=http://127.0.0.1:11081
REFERENCE_GRAPHQL_URL=http://127.0.0.1:11086/graphql
